<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- 타임리프 문법사용 -->
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>

<style>

    /* .layout 클래스 스타일 설정 */
    .layout {
        width: 500px;     /* 너비를 500px로 설정 */
        margin: 0 auto;   /* 좌우 가운데 정렬, 위아래 여백 없음 */
        margin-top: 40px; /* 맨 위에서 40px 떨어져 위치 */
    }

</style>

<body>

    <div class="layout">

        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <a th:href="@{/board/write}">게시글 작성하러 가기</a>
                </tr>

            </thead>
            <tbody>
            <!--th : 타임리프 표현식-->
                <tr th:each="board: ${list}"> <!-- each 반복문 : board 가 없어질때까지 반복-->
                    <td th:text="${board.id}">번호</td> <!-- text 텍스트 값을 지정-->
                    <td><a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목</a></td> <!-- href 링크를 생성할 때 URL 지정-->
                    <!-- http://localhost:8080/board/view?id={board.id} -->
                    <!-- $ = 변수 삽임, @ = url(링크) 삽입, () 파라미터 값, {} 파라미터 URL -->
                </tr>
            </tbody>
        </table>

        <!-- th:block : 굳이 태그로 감쌀 필요가 없는 블럭을 타임리프 문법으로 쓸 때 사용-->
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">  <!-- 번호들을 순서대로 넣을꺼고(시작,끝) 번호이다 -->
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <!--페이지가 현재페이지가 아닐경우 -1 이동한다 그리고 검색시 param 으로 url -->
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong> <!-- 페이지가 현재페이지 경우 나오고 strong = 강조, 색상이 빨간색 -->
        </th:block>
        <form th:action="@{/board/list}" method="get"> <!-- http://localhost:8080/board/list?searchKeyword= -->
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button> <!--submit: 전송-->
        </form>

    </div>

</body>
</html>